/*
body {
    width: 90%;
    font-family: "Helvetica";
    padding: 1px;
    font-size: 12pt;
    word-wrap: break-word;
}
*/

body {
    font-family: "Helvetica";
    font-size: 12pt;
    margin: 0px;
    padding: 7px 0px 0px 5px;
    /*border: 1px solid black;*/
    word-wrap: break-word;
    background-color: transparent;
    color: #fff;
}

a {
    text-decoration: none;
    /*color: #2595D7;*/
    color: #6293bb;
    //font-weight: bold;
}

.text {
    margin: 0px;
    padding-bottom: 10px;
}

.footer {
    font-size: 10pt;
    color: #909090;
    margin-bottom: 10px;
    width: 100%;
}

.footer a {
    text-decoration: underline;
    color: #b4b4b4;
}

.header {
    font-weight: bold;
}
