/*
body {
    width: 90%;
    font-family: "Helvetica";
    padding: 1px;
    font-size: 12pt;
    word-wrap: break-word;
}
*/

body {
    font-family: "Helvetica";
    font-size: 12pt;
    margin: 0px;
    padding: 7px 3px 0px 5px;
    /*border: 1px solid black;*/
    word-wrap: break-word;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #0067CC;
    //font-weight: bold;
}

.text {
    margin: 0px;
    padding-bottom: 10px;
}

.photo {
    border-style:solid;
    border-width:1px;
    border-color:#bfbfbf;
    /*border-color:#0067CC;*/
    /*background-color:#d9d9d9;*/
    background-color:#ffffff;
    padding:3px;
    margin-top:4px;
    margin-bottom:16px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 140px;
    min-width: 105px;
}

.footer {
    font-size: 10pt;
    color: #909090;
    margin-bottom: 10px;
    padding-right: 1px;
    width: 100%;
}

.footer a {
    text-decoration: underline;
    color: #252525;
}

.header {
    font-weight: bold;
}
