body {
    width: 90%;
    font-family: "Helvetica";
    padding: 1px;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: #0067CC;
    font-weight: bold;
}

.footer,
.footer a {
    font-size: 11pt;
    color: #909090;
    font-style: oblique;
}

.footer a {
    text-decoration: underline;
    font-weight: normal;
}

.header {
    font-weight: bold;
}
