<p>
Sent <%= @usernames.length -%> notifications.
</p>

<% if @usernames.length > 0 -%>
  <table border="1" cellpadding="5" cellspacing="0">
    <tr>
      <th>Username</th>
      <th>Badge Count</th>
      <th>Message</th>
    </tr>

    <% @usernames.each do |username, notification| -%>
    <tr>
      <td>
        <%= h(username) -%>
      </td>
      <td>
        <%= h(notification.badge) -%>
      </td>
      <td>
        <%= h(notification.alert) -%>
      </td>
    </tr>
    <% end -%>
  </table>
<% end -%>
