<% if @devices.length == 0 -%>
<p>
There are no devices in the database.
</p>

<% else -%>

<p>
There are <%= pluralize(@devices.length, 'iPhone', 'iPhones') -%> registered
with the system:
</p>

<p>
<% unless @devices.length == 0 -%>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Device Token</th>
  </tr>
  <%= render(:partial => "device_summary", :collection => @devices) %>
</table>
<% end -%>
<% end -%>

</p>
