<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>YOUR_PROJECT_NAME</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>timelinegroupname</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Title</key>
			<string>displayname</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>displayname.fullname</string>
				<string>displayname.username</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>display_name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>fetch_quantity</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>Title</key>
			<string>fetchquantity</string>
			<key>Values</key>
			<array>
				<integer>20</integer>
				<integer>50</integer>
				<integer>100</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>fetchquantity.twenty</string>
				<string>fetchquantity.fifty</string>
				<string>fetchquantity.onehundred</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>highlightnew</string>
			<key>Key</key>
			<string>highlight_new</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>scrolltotop</string>
			<key>Key</key>
			<string>scroll_to_top</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>tweetcompositiongroupname</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Title</key>
			<string>retweetformat</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>retweetformat.via</string>
				<string>retweetformat.rt</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>retweet_format</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Title</key>
			<string>imagequality</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<string>2</string>
			</array>
			<key>Titles</key>
			<array>
				<string>imagequality.low</string>
				<string>imagequality.medium</string>
				<string>imagequality.high</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>image_quality</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>shortenurls</string>
			<key>Key</key>
			<string>shorten_urls</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>10</integer>
			<key>Title</key>
			<string>searchradius</string>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>10</integer>
				<string>50</string>
				<string>250</string>
			</array>
			<key>Titles</key>
			<array>
				<string>searchradius.two</string>
				<string>searchradius.ten</string>
				<string>searchradius.fifty</string>
				<string>searchradius.twofifty</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>search_radius</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
