<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BitlyApiKey</key>
	<string>R_2fabc643b863319ee6d61261d4452171</string>
	<key>BitlyUsername</key>
	<string>twitbitapp</string>
	<key>BitlyVersion</key>
	<string>2.0.1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.highorderbit.twitbitlite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.5.0</string>
	<key>DeviceRegistrationDomain</key>
	<string>${DEVICE_REGISTRATION_DOMAIN}</string>
	<key>GoogleMapsApiKey</key>
	<string>ABQIAAAA4YcfyY-S4O3XZADw6XUrMBS__PqgG_j9kacaPeRd_7KkjCUsGRTyQMdIBpkodQoLI--P6eyACiiv7g</string>
	<key>InstapaperAuthenticationUrl</key>
	<string>https://www.instapaper.com/api/authenticate</string>
	<key>InstapaperPostUrl</key>
	<string>https://www.instapaper.com/api/add</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>SBUsesNetwork</key>
	<true/>
	<key>TwitPicPostUrl</key>
	<string>https://twitpic.com/api/upload</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>YfrogPostUrl</key>
	<string>https://yfrog.com/api/upload</string>
	<key>AdMobPublisherId</key>
	<string>a14b2670184a469</string>
	<key>TwitbitProUrl</key>
	<string>http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=322281538&amp;mt=8</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitbit</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.highorderbit.twitbit</string>
		</dict>
	</array>
</dict>
</plist>
